* {
    background-color: white;
    text-align: center;
}

p {
   font-family: sans-serif;
   font-size: 16px;
   font-size: 4vmin;
   text-align: center;
}

.btn {
    margin: 1vmin .5vmin;
    border-width: 16px;
    border-style: solid;
    padding: 0;
    height: 29vmin;
    width: 29vmin;

    font-size: 4vmin;
    text-align: center;
    text-decoration: none;

    display: inline-block;

}
